/* Reset default styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

header .social-links a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
}


/* Menu */

.menu {
    background-color: #555;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu ul li {
    margin: 0;
}

.menu ul li a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}

.menu ul li a:hover {
    background-color: #777;
}


/* Container */

.container {
    display: flex;
    padding: 20px;
}


/* Sidebar */

.sidebar {
    width: 25%;
    padding: 20px;
    background-color: #f4f4f4;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    padding: 5px 0;
}


/* Main Content */

main {
    width: 75%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding-left: 20px;
}

.box {
    background-color: #e4e4e4;
    padding: 10px;
    width: 30%;
    text-align: center;
}

.box img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}


/* Footer */

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
}